body {
  font-style: normal;
  font-family: sans-serif;
}

.jumbotron {
  margin-left: 50px;
  margin-right:50px;
  padding: 50px;
  text-align: center;
}

.hobbies img {
  width: 400px;
}

p {
  color: #000022;
  text-decoration: bold;
  font-family: sans-serif;
}

.container {
  border: 4px;
  padding: 15px;
  margin: auto;
  background: #F2F3F4;
  text-align: center;
}

.container2 {
  align-content: center;
  padding: 30px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 4px;
  background-color: #D5DBDB
  
}

.hobbies {
  padding: 30px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 20px;
  background-color: #D5DBDB

}
#headshot {
  margin-left: 50px;
  padding: 20px;
  width: 300px;
}

li {
  font-weight: bold;
  padding: 30px;
  font-size: 16px;
}
.list-group-item {
  font-size: 24px;
  padding: 15px;
  background-color: #E5E7E9  ;
  text-align: left;
}
